{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block title %} PyLabel Users {% endblock %}

{% block navbar %} {{nav.account_nav.render()}} {% endblock %}


{% block content %}
    {{ utils.flashed_messages() }}

    <table>
    {% for user in users %}
        <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
        <tr>
    {% endfor %}
   </table>
{% endblock %}
