{% extends "bootstrap/base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block title %} Login {% endblock %}
{% block styles %} 
{{ super() }}
<link rel="stylesheet"
      href="{{url_for('static', filename='login.css')}}">
{% endblock %}
{% block navbar %} {{nav.account_nav.render()}} {% endblock %}

{% block content %}
    {{ utils.flashed_messages() }}
    <div class="login-form">
    <form action="{{ url_for('accounts.login') }}" method="post">
      <h2 class="text-center">Log in</h2>       
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" required="required">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" required="required">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Log in</button>
      </div>
      <div class="clearfix">
        <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
        <a href="#" class="pull-right">Forgot Password?</a>
      </div>
    {{ form.csrf_token }}
  </form>
  <p class="text-center"><a href="#">Create an Account</a></p>
</div>
{% endblock %}
