{% extends "bootstrap/base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block title %} Register {% endblock %}

{% block navbar %} {{nav.account_nav.render()}} {% endblock %}

{% block content %}
    {{ utils.flashed_messages() }}
    <form action="{{ url_for('accounts.register') }}" method="post">
        <input type="text" name="username">Username: </input>
        <input type="text" name="email" >Email: </input>
        <input type="password" name="password" >Password: </input>
        <input type="submit" value="Register"/>
        {{ form.csrf_token }}
    </form>
{% endblock %}

